Livros/
*.pdf
ADM/
*.bmp
.thumbs/
Interfatec/
Introducao Machine Learning/
*.docx
*.doc
*.zip
*.rar
*.exe
*.png
*.jpg
*.xml
*.pptx
*.ppt
*.ini
node_modules/
HAR/
ING/
ING2/
ING3/
MAT/
CAL/
CEE/
**/ENG1/Listas/
*.txt
LDP/
ECO/
Agenda - professor/
EST/
IHC/
SOC/
SOI/
.vscode
dump/
*.download
*.aspx
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 1.html
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 1.vp
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 1_files/36097414-1b74-497e-aab0-5b56030a22a2-1623033814458.css
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 1_files/f39803f7-df02-4169-93eb-7547fb8c961a-1623033814458.css
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 1_files/include-1623033814458.css
Fatec/3 - Sem/ENG2/Atividades/Projeto/Prototype 2.vp
Fatec/4 - Sem/**/*.xlsx
*.chc
Fatec/4 - Sem/ERP/Sábado - 06-11-2021-20211106_101505-Gravação de Reunião.mp4
.tmp.driveupload/
*.ova
Fatec/TCC/DiagramaDeSequencia.asta
Colegas/